@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Open+Sans:ital,wght@1,400;1,800&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
.logo {
    width:80px;
}
#background {
    height: 725px;
    background-color:aqua;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    margin: 0;
}
h4 {
    text-align: center;
}
body {
    background-color: beige;
}
header {
    background-color: rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color:#d9c2a3;
}
div {
    background-color: rgb(225, 235, 235);
}
p {
    text-align: center;
}

a img {
    display:block;
    margin-inline-start: 0;
    width:3%;
    padding-top: 5px;
}
    
div image {
    width:100%;
    
}
    
main img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:35%;
    margin: 200px 0;
}
a {
    text-align: center;
}
.icon {
    width: 80px;  
    padding-top: 10px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}
section {
    text-align:center;
}
footer {
    background-color: darkolivegreen ;
}
footer p a:hover {
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
    
}
footer img {
    display: inline;
    margin-inline-start: 0;
    width: 2%
}

.home-title{
    font-family: 'Days One', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
    padding-bottom: 15px;
}
body {
    background-color: #fcfbfb;
    font-family: Open Sans, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
footer {
    padding: 25px;
    margin-top: 200px;
}
footer.social img {
    padding-top: 15px;
}
.book, .join{
    margin-top: 50px;
    color: black;
    font-size: 18px;
    background-color: #d9c2a3;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
}
.card-img { 
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
.msg p {
    font-size: .8em;
}