
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

<head>
    <title>BYUI</title>
    <link rel="stylesheet" href="styles/styles.css />"
</head>


body {
    text-align: center;
}


nav {
    background-color: steelblue;
    padding: 10px;
}



a {
    color: white;
    margin: 40px;
}



h1 {
    color: steelblue;
    text-align: center;
}


img {
    width: 80%;
    display: block;
    margin: 0 auto;
}


main p {
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
}

* {
    border:2px solid blue
}

nav footer {
    text-align: center
    background-color:steelblue;
    color: white; 
}